.homePage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#surfing{
  background-image: url("../../Images/surfing.jpg");
}

#kitesurfing{
  background-image: url("../../Images/Kitesurfing.jpg");
}

#scubadiving{
  background-image: url("../../Images/Scubadiving.jpg");
}

.aa {
    position: relative;
    top: 1rem;
    margin: 1.25rem;
    width: 26%;
    height: 400px;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    /* background-image: url("../../Images/Scubadiving.jpg"); */
    
  }
  
  .sportName {
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
  }

  .training {
   
    font-weight: lighter;
    color: white;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .aaa:hover {
    /* background-color: rgb(12, 192, 192); */
    text-decoration: none;
    
  }

  .sportName:hover {
    /* background-color: rgb(12, 192, 192); */
    text-decoration: none;
    cursor: pointer;
    color: rgb(183, 218, 213);
  }

  .training:hover {
    /* background-color: rgb(12, 192, 192); */
    text-decoration: none;
    cursor: pointer;
    color: rgb(183, 218, 213);
  }

  .footerButton {
    /* background-color:rgb(161, 191, 219); */
    display: flex;
    justify-content: end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copyRight {
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media (max-width: 858px) {
.sportName {
  font-size: 1.3rem;
}

.training {
  font-size: 1.2rem;
}
  
}

@media (max-width: 664px) {
  .sportName {
    font-size: 1rem;
    /* padding: 3px; */
  }
  
  .training {
    font-size: 0.8rem;
    /* padding: 3px; */
  }
  
      
  }